@page
@model IndexModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Front Camera</title>
    <link rel="stylesheet" href="/css/Index.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <main>

        <section class="index_section_1">
            <div class="slider">
                <p class="welcome_text1">
                    Welcome to HealtConnect
                </p>
                <p class="welcome_text2">
                    Your health is our pryority
                </p>

                <div class="whay_us_conteainer">
                    <div class="why_us">
                        <div class="why_choose_us_left">
                            <h2>Why Choose HealthConnect?</h2>
                            <p>
                                HealthConnect offers trusted, secure, and convenient healthcare services.
                                Enjoy easy appointment booking, digital prescriptions, and personalized care to meet your needs.
                                From general consultations to specialist support, we keep you connected to quality healthcare.
                            </p>

                            <a href="#About">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                        </div>

                        <div class="why_choose_us_right">
                            <div class="why_choose_us_detail">
                                <p><i class="fa-solid fa-stethoscope"></i></p>
                                <h3>Verified Doctors</h3>
                                <p>All doctors associated with HealthConnect are highly qualified, certified, and verified to ensure you receive trusted medical advice.</p>
                            </div>

                            <div class="why_choose_us_detail">
                                <p><i class="fa-solid fa-shield-halved"></i></p>
                                <h3>Complete Security</h3>
                                <p>Your data is protected with industry-leading security. We prioritize 100% privacy of your health records and offer secure payment processing.</p>
                            </div>

                            <div class="why_choose_us_detail">
                                <p><i class="fa-solid fa-square-phone"></i></p>
                                <h3>24/7 Support</h3>
                                <p>Our dedicated support team is available round the clock to assist you with any queries, ensuring a smooth and stress-free experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="index_section_2">
            <div class="index_about_container">
                <div class="index_about_left">
                    <img src="/images/about.jpg" />
                </div>
                <div class="index_about_right">
                    <h1>About Us</h1>
                    <article>
                        Our website provides a comprehensive healthcare solution, connecting patients with trusted doctors for real-time consultations via chat and video calls. 
                        Receive personalized prescriptions and order medications seamlessly, ensuring convenient, secure, and confidential healthcare services from home.
                    </article>

                    <div class="about_detail">
                        <h2>Connecting Patients and Doctors Seamlessly</h2>
                        <p>Our platform enables users to connect with verified doctors instantly through secure chat and video calling for personalized consultations.</p>
                    </div>

                    <div class ="about_detail">
                        <h2>Expert Medical Consultations</h2>
                        <p>Experienced doctors provide accurate diagnoses and medical prescriptions tailored to each patient’s needs.</p>
                    </div>

                    <div class ="about_detail_read_more">
                        <a href="#">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
        </section>

        <section class="index_section_3">
            <div class="count_container">
                <div class="detail">

                </div>
            </div>
        </section>

    </main>



    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error_message">@Model.ErrorMessage</div>
    }

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <p class="success_message">@Model.SuccessMessage</p>
    }
</body>
</html>
