@page
@model IndexModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Front Camera</title>
    <link rel="stylesheet" href="/css/Index.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <main>
        <section class="index_section_1">
            <div class="slider_div">
                <img src="/images/slider_image2.jpg" />
            </div>
            <p>
                Welcome to HealtConnect
            </p>
        </section>

        <section class="index_section_2">
        </section>

    </main>



    <h1>Welcome! Your User ID is: @Model.UserId</h1>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error_message">@Model.ErrorMessage</div>
    }

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <p class="success_message">@Model.SuccessMessage</p>
    }
</body>
</html>
