@page
@model HealthConnect.Pages.User.Account.OverviewModel
@{
    Layout = "_Account";
    ViewBag.Title = "Account Setting";
}


<div class="manage_profile_container">
    <h1>Account</h1>
    <h4>Quick links</h4>
    <div class="all_quick_links">

        <div class="manage_profile_quick_link">
            <a href="/Account/Settings/Edit_personel_detail">
                <div class="account_link">
                    <i class="fa-solid fa-user-pen"></i> Edit personnel detail <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />
        </div>

        <div class="paymant_quick_link">

            <a href="">
                <div class="account_link">
                    <i class="fa-brands fa-cc-visa"></i> Manage paymant method <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />

            <a href="">
                <div class="account_link">
                    <i class="fa-solid fa-credit-card"></i> Update paymant detail <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />

        </div>

        <div class="secuirty_quick_link">

            <a href="/Account/Settings/Change_password">
                <div class="account_link">
                    <i class="fa-solid fa-lock"></i> Update password <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />

            <a href="/Account/Settings/Change_email">
                <div class="account_link">
                    <i class="fa-solid fa-envelope"></i> Change email <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />

            <a href="">
                <div class="account_link">
                    <i class="fa-regular fa-newspaper"></i> Term & Conditon <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />


            <a href="">
                <div class="account_link">
                    <i class="fa-solid fa-shield-halved"></i> Privacy & Policy <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            <hr />

        </div>

        <div class="chat_quick_link">

            <a href="">
                <div class="account_link">
                    <i class="fa-solid fa-panorama"></i> Change chat background theam <span><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </a>
            @* <hr /> *@

        </div>

    </div>
</div>