<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/Index.css">
    <link href="/images/HealthConnectTabLogo.png" rel="icon" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

</head>
<body>


    <div class="loder" id="loder">
        <img src="/Loder.gif" alt="Alternate Text" />
    </div>



    <header id="header">
        <nav>
            
            <img class="logo" src="/images/HealthConnectLogo.png" alt="Alternate Text" onclick="redirectToHomepage()" />

            <div class="header_drop_down">

                <p><a href="/">Home</a></p>
                <p><a href="#">About</a></p>

                <p><a href="/User/Explore_doctors">Explore doctors</a></p>

                <div class="Speciality_drop_down">
                    <p>Search by Speciality <i class="fa-solid fa-angle-down toggle-icon1"></i></p>
                    <div class="Search_by_Speciality">
                        <ul>
                            <a href="">
                            <li>Dermatology</li></a>
                            <a href="">
                            <li>Family Medicine</li></a>
                            <a href="">
                            <li>Oncology</li></a>
                            <a href="">
                            <li>Internal Medicine</li></a>
                            <a href="">
                            <li>Geriatrics</li></a>
                            <a href="">
                            <li>Psychiatry</li></a>
                            <a href="">
                            <li>Medical Genetics</li></a>
                            <a href="">
                            <li>Colorectal Surgery</li></a>
                            <a href="">
                            <li>Neurology</li></a>
                            <a href="">
                            <li>Gastroenterology</li></a>
                            <a href="">
                            <li>Endocrinology</li></a>
                            <a href="">
                            <li>Obstetrics and Gynaecology</li></a>
                            <a href="">
                            <li>Hematology</li></a>
                            <a href="">
                            <li>Emergency Medicine</li></a>
                            <a href="">
                            <li>Pathology</li></a>
                            <a href="">
                            <li>Critical Care Medicine</li></a>
                            <a href="">
                            <li>Cardiology</li></a>
                            <a href="">
                            <li>Anesthesiology</li></a>
                            <a href="">
                            <li>Immunology</li></a>
                            <a href="">
                            <li>Pediatrics</li></a>
                            <a href="">
                            <li>Ophthalmology</li></a>
                            <a href="">
                            <li>General Surgery</li></a>
                            <a href="">
                            <li>Diagnostic Radiology</li></a>
                            <a href="">
                            <li>Hospice and Palliative Medicine</li></a>
                        </ul>

                    </div>
                </div>
                <p>Blog</p>
                <p>Shop</p>

                <div class="login_and_profile">

                    @if (Model.UserId == null)
                    {
                        <a class="header_login_button" href="/User/Sign_in">Login</a>
                    }
                    else
                    {
                        <div class="header_user_icon_drop_down">
                            <div class="header_user_icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="header_user_services">
                                <section>
                                    <a href="#">
                                        <i class="fa-solid fa-gear"></i> Settings
                                    </a>
                                    @if (Model.Role == "Admin")
                                    {
                                        <a href="/Admin/Admin_index">
                                            <i class="fa-solid fa-user-tie"></i> Admin side
                                        </a>
                                    }
                                    <a href="/User/Logout">
                                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                                    </a>
                                </section>
                            </div>
                        </div>
                    }

                </div>

            </div>
            <div class="hamburger_container">
                <div class="baar">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="hamburger_container_link" id="hamburger_container_link">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="/User/Explore_doctors">Explor doctors</a></li>

                        <li class="S_by_S">Search by Speciality <i class="fa-solid fa-angle-down toggle-icon1"></i></li>
                    </ul>
                    <div class="hamburgar_Search_by_Speciality" style="display: none;">
                        <ul>
                            <li><a href="#">General Practitioners (GP) / Family Medicine</a></li>
                            <li><a href="#">Internal Medicine</a></li>
                            <li><a href="#">Surgical Specialists</a></li>
                            <li><a href="#">Pediatricians</a></li>
                            <li><a href="#">Women’s Health Specialists</a></li>
                            <li><a href="#">Mental Health Professionals</a></li>
                            <li><a href="#">Cardiologists</a></li>
                            <li><a href="#">Dermatologists</a></li>
                            <li><a href="#">Neurologists</a></li>
                            <li><a href="#">Oncologists</a></li>
                            <li><a href="#">Ophthalmologists</a></li>
                            <li><a href="#">Ear, Nose, and Throat (ENT) Specialists</a></li>
                            <li><a href="#">Orthopedic Specialists</a></li>
                            <li><a href="#">Anesthesiologists</a></li>
                            <li><a href="#">Radiologists</a></li>
                            <li><a href="#">Pathologists</a></li>
                            <li><a href="#">Gastroenterologists</a></li>
                            <li><a href="#">Endocrinologists</a></li>
                            <li><a href="#">Immunologists</a></li>
                            <li><a href="#">Pulmonologists</a></li>
                            <li><a href="#">Hematologists</a></li>
                            <li><a href="#">Emergency Medicine Specialists</a></li>
                            <li><a href="#">Pain Management Specialists</a></li>
                            <li><a href="#">Rehabilitation Medicine Specialists</a></li>
                            <li><a href="#">Chiropractors</a></li>
                            <li><a href="#">Dentists</a></li>
                            <li><a href="#">Urologists</a></li>
                            <li><a href="#">Occupational Medicine</a></li>
                            <li><a href="#">Allergists</a></li>
                            <li><a href="#">Palliative Care and Hospice Doctors</a></li>
                            <li><a href="#">Toxicologists</a></li>
                            <li><a href="#">Sports Medicine</a></li>
                            <li><a href="#">Geriatric Specialists</a></li>
                            <li><a href="#">Infectious Disease Specialists</a></li>
                            <li><a href="#">Geneticists</a></li>
                            <li><a href="#">Acupuncturists</a></li>
                            <li><a href="#">Naturopaths</a></li>
                            <li><a href="#">Physiatrists</a></li>
                            <li><a href="#">Clinical Nutritionists</a></li>
                            <li><a href="#">Speech-Language Pathologists</a></li>
                            <li><a href="#">Plastic Surgeons</a></li>

                        </ul>
                    </div>
                    <ul>
   
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>

                @if (Model.UserId == null)
                {
                    <a class="header_login_button" href="/User/Sign_in">Login</a>
                }
                else
                {
                    <div class="header_user_icon_drop_down">
                        <div class="header_user_icon2">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="header_user_services2">
                            <section>
                                <a href="#">
                                    <i class="fa-solid fa-gear"></i> Settings
                                </a>
                                @if (Model.Role == "Admin")
                                {
                                    <a href="/Admin/Admin_index">
                                        <i class="fa-solid fa-user-tie"></i> Admin side
                                    </a>
                                }

                                <a href="/User/Logout">
                                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                                </a>
                            </section>
                        </div>
                    </div>
                }
            </div>


        </nav>
    </header>


    <div>
        @RenderBody()
    </div>


    <script src="/js/Script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
               $(document).ready(function() {
            // Toggle entire hamburger menu
            $('.baar').click(function() {
                $('.hamburger_container_link').slideToggle(300);
            });

            // Toggle "Search by Speciality"
            $('.S_by_S').click(function() {
                $('.hamburgar_Search_by_Speciality').slideToggle(300);
            });

            // Toggle "Search by Condition"
            $('.S_by_C').click(function() {
                $('.hamburgar_Search_by_Condition').slideToggle(300);
            });

            // Toggle "Search by City"
            $('.S_by_City').click(function() {
                $('.hamburgar_Search_by_City').slideToggle(300);
            });

            // Toggle "User section"
            $('.header_user_icon2').click(function() {
                $('.header_user_services2').slideToggle(300);
            });
        });

    </script>



    <script>
               $(document).ready(function () {
            // Toggle Search by Speciality
            $(".Speciality_drop_down p").on("click", function () {
                $(".Search_by_Speciality").slideToggle();
                const icon = $(this).find(".toggle-icon1");
                const currentRotation = icon.data("rotation") || 0;
                const newRotation = (currentRotation + 180) % 360;
                icon.css("transform", `rotate(${newRotation}deg)`);
                icon.data("rotation", newRotation);

                // Close other dropdowns
                $(".Search_by_Condition, .Search_by_city").slideUp();
            });

            // Toggle Search by Condition
            $(".Condition_drop_down p").on("click", function () {
                $(".Search_by_Condition").slideToggle();
                const icon = $(this).find(".toggle-icon2");
                const currentRotation = icon.data("rotation") || 0;
                const newRotation = (currentRotation + 180) % 360;
                icon.css("transform", `rotate(${newRotation}deg)`);
                icon.data("rotation", newRotation);

                // Close other dropdowns
                $(".Search_by_Speciality, .Search_by_city").slideUp();
            });

            // Toggle Search by City
            $(".City_drop_down p").on("click", function () {
                $(".Search_by_city").slideToggle();
                const icon = $(this).find(".toggle-icon3");
                const currentRotation = icon.data("rotation") || 0;
                const newRotation = (currentRotation + 180) % 360;
                icon.css("transform", `rotate(${newRotation}deg)`);
                icon.data("rotation", newRotation);

                // Close other dropdowns
                $(".Search_by_Speciality, .Search_by_Condition").slideUp();
            });

            // Toggle header_user_services
            $(".header_user_icon").on("click", function () {
                $(".header_user_services").slideToggle();

                // Close other dropdowns
                $(".Search_by_Speciality, .Search_by_Condition, .Search_by_city").slideUp();
            });


            // Close dropdowns if clicked outside
            $(document).on("click", function (e) {
                if (!$(e.target).closest(".header_drop_down").length) {
                    $(".Search_by_Speciality, .Search_by_Condition, .Search_by_city, .header_user_services").slideUp();
                    $(".toggle-icon").css("transform", "rotate(0deg)").data("rotation", 0);
                }
            });
        });

    </script>

    <script src="/js/jQuery"></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".data").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

         document.getElementById('myInput').addEventListener('keydown', function(event) {
          if (event.key === 'Enter') {
            event.preventDefault();
          }
        });
    </script>


</body>
</html>
