<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Health Connect</title>
    <link rel="stylesheet" href="/css/Otp_Verify.css">
    <link href="/images/HealthConnectTabLogo.png" rel="icon" />

    <!--ICON-->
    <link href="/Icon/fontawesome-free-6.7.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="/Icon/fontawesome-free-6.7.2-web/css/brands.css" rel="stylesheet" />
    <link href="/Icon/fontawesome-free-6.7.2-web/css/solid.css" rel="stylesheet" />
    <link href="/Icon/fontawesome-free-6.7.2-web/css/sharp-thin.css" rel="stylesheet" />
    <link href="/Icon/fontawesome-free-6.7.2-web/css/duotone-thin.css" rel="stylesheet" />
    <link href="/Icon/fontawesome-free-6.7.2-web/css/sharp-duotone-thin.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">

</head>
<body>

    <div class="back_button" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
