
:root {
    --body-bg-color: #F5F5F5;
    --header-bg-color: white;
    --header-text-color: #0055a4;
    --header-text-hover-color: #00a651;
    --button-bg-color: #048077;
    --button-font-color: white;
    --main-font-color: #333333;
}
