@page
@model HealthConnect.Pages.Account.Settings.Change_passwordModel
@{
    Layout = "_Settings";
    ViewData["Title"] = "Update yout password";
}

<div class="change_email_container">
    <div class="change_email">
        <h1>Update your password</h1>
        <form method="post">
            <input type="hidden" name="id" value="@Model.UserId" />
            <input type="hidden" name="email" value="@Model.Email" />

            <div class="user_input">
                <label for="current_password">Enter current password</label>
                <input type="password" name="current_password" id="current_password" autocomplete="off" placeholder="Enter new password" />
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="user_input">
                <label for="password">Enter new password</label>
                <input type="password" name="password" id="password" autocomplete="off" placeholder="Enter new password" />
                <i class="fa-solid fa-eye"></i>
                <p class="error_message_for_password"></p>
            </div>

            <div class="user_input">
                <label for="C_password">Enter confirm password</label>
                <input type="password" name="C_password" id="C_password" autocomplete="off" placeholder="Enter confirm password" />
                <i class="fa-solid fa-eye"></i>
                <p class="error_message_for_password"></p>
            </div>

            <div class="form_button">
                <button type="submit">Verify</button>
            </div>
        </form>
        <a href="/User/Forgot_password/Enter_Email">Forgot password?</a>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.user_input').forEach(userInput => {
            const passwordInput = userInput.querySelector('input');
            const toggleIcon = userInput.querySelector('.fa-eye');

            toggleIcon.addEventListener('click', () => {
                const isPasswordVisible = passwordInput.type === 'text';
                passwordInput.type = isPasswordVisible ? 'password' : 'text';
                toggleIcon.classList.toggle('fa-eye-slash', !isPasswordVisible);
                toggleIcon.classList.toggle('fa-eye', isPasswordVisible);
            });
        });
    });

     document.querySelector('form').addEventListener('submit', (event) => {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('C_password').value;
            const errorMessages = document.querySelectorAll('.error_message_for_password');

            errorMessages.forEach(error => error.textContent = '');

            if (password !== confirmPassword) {
                event.preventDefault();
                errorMessages[1].textContent = "Passwords do not match!";
            }
        });

</script>

