@page
@model HealthConnect.Pages.User.Forgot_password.Enter_EmailModel
@{
    ViewData["Title"] = "Enter Email";
    Layout = null;
}

<head>

    <link href="/images/HealthConnectTabLogo.png" rel="icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>

        :root {
            --body-bg-color: #F5F5F5;
            --header-bg-color: white;
            --header-text-hover-color: #1977cc;
            --button-bg-color: #1977cc;
            --button-font-color: white;
            --main-font-color: #333333;
            --heading-color: #2c4964;
            --header-text-color: #2c4964;
            /*    --button-hover-bg-color: #0d6efd;*/
            --button-hover-bg-color: #53a8f5;
            --default-color: #444444;
            --heading-color: #2c4964;
            --accent-color: #1977cc;
            --surface-color: #ffffff;
            --contrast-color: #ffffff;
            --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --heading-font: "Poppins", sans-serif;
            --nav-font: "Raleway", sans-serif;
        }


        * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        .back_button i {
            background-color: var(--button-bg-color);
            color: var(--button-font-color);
            padding: 10px 12px;
            border-radius: 5px;
            cursor: pointer;
            -webkit-text-decoration: inherit;
            text-decoration: inherit;
            margin: 30px 0px 0px 50px;
            z-index: 1000;
            position: absolute;
            top: 0;
        }

        .opt_verify_container {
            width: 100%;
            height: 100dvh;
            display: flex;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

            .opt_verify_container h1 {
                font-size: 30px;
                font-weight: 900;
                color: var(--button-bg-color);
                margin: 20px 0px;
            }

            .opt_verify_container p {
                font-size: 16px;
                color: #333;
                margin: 10px 0px;
            }

            .opt_verify_container form {
                max-width: 90%;
                min-width: 20%;
            }

                .opt_verify_container form .user_opt_section {
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    margin: 20px 0px;
                }


            .opt_verify_container input {
                width: 100%;
                height: 50px;
                border: 1px solid var(--button-bg-color);
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
                text-align: center;
                caret-color: var(--button-bg-color);
                color: var(--main-font-color);
                font-weight: 500;
            }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .opt_verify_container button {
            width: 100%;
            height: 50px;
            background-color: var(--button-bg-color);
            color: var(--button-font-color);
            border: none;
            border-radius: 5px;
            padding: 0 20px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 700;
            &:hover

        {
            background-color: #069c92;
        }

        }

        .opt_verify_container a {
            color: var(--button-bg-color);
            font-weight: 700;
            text-decoration: none;
            margin: 10px 0px;
            margin-top: 20px;
        }

        .error_message {
            color: red;
            font-size: 14px;
            font-weight: 700;
            margin: 10px 0px;
            text-align: center;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #f8d7da;
            padding: 10px 20px;
            border-radius: 5px;
            animation: shake 3s;
            opacity: 1;
        }
      
        .success_message {
            color: green;
            font-size: 14px;
            font-weight: 700;
            margin: 10px 0px;
            text-align: center;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #d4edda;
            padding: 10px 20px;
            border-radius: 5px;
            animation: shake 3s;
            opacity: 1;
        }

    </style>
</head>

<div class="back_button" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></div>

<div class="opt_verify_container">
    <h1>Verify you Email</h1>
    <p>Enter the Email to your OTP</p>
    <form method="post">
        <div class="user_opt_section">
            <input type="email" name="email" id="OptInput">
        </div>

        <button type="submit" name="submit">Verify</button>
    </form>
</div>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="error_message">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p class="success_message">@Model.SuccessMessage</p>
}
