@page
@model HealthConnect.Pages.User.Forgot_password.Forgot_password_otpModel
@{
    ViewData["Title"] = "Enter OTP";
    Layout = "~/Pages/Shared/_OtpVerify.cshtml";
}

<div class="opt_verify_container">
    <h1>Verify your OTP</h1>
    <p>Enter the OTP sent to your email</p>
    <form method="post">
        <div class="user_opt_section">
            <input type="text" id="OptInput" maxlength="6" oninput="handleInput(event)" asp-for="OtpInput" required>
            <span asp-validation-for="OtpInput" class="text-danger"></span>
        </div>

        <button type="submit" name="submit">Verify</button>
    </form>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="error_message">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p class="success_message">@Model.SuccessMessage</p>
}

<script>
    function resendOTP() {
        // You can add a confirmation or processing indication here if needed
        fetch('@Url.Page("/OTPVerify/Sign_up_otp_verify", new { handler = "ResendOTP" })', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                alert('OTP has been resent.');
            } else {
                alert('Failed to resend OTP.');
            }
        })
        .catch(error => {
            alert('An error occurred: ' + error);
        });
    }
</script>
